# ASP.NET
ASPNETCORE_ENVIRONMENT=Development

# API Gateway
API_GATEWAY_PORT=5050

# Identity API
IDENTITY_API_PORT=6001

# MySQL
MYSQL_ROOT_PASSWORD=your_root_password
IDENTITY_DB_HOST=identitydb
IDENTITY_DB_PORT=3306
IDENTITY_DB_NAME=toeic_space_identity
IDENTITY_DB_USER=root
IDENTITY_DB_PASSWORD=your_database_password

# RabbitMQ
RABBITMQ_HOST=messagebroker
RABBITMQ_PORT=5672
RABBITMQ_MANAGEMENT_PORT=15672
RABBITMQ_USER=guest
RABBITMQ_PASSWORD=your_rabbitmq_password
